<footer id="main-footer">
    <div class="container-fluid">
        <div class="row px-5">
            <div class="col-md-2 d-none d-md-block small-line py-2">
                <p class="foot-head py-2">SHOPPING</p>
                <p>Indian</p>
                <p>Western</p>
                <p>Belts</p>
                <p>Watches</p>
                <p>FootWear</p>
                <p>Sportswear</p>
            </div>
            <div class="col-md-2 col-6 small-line py-2">
                <p class="foot-head py-2">USEFUL LINKS</p>
                <p>Contact Us</p>
                <p>FAQ</p>
                <p>T&amp;C</p>
                <p>Track Orders</p>
                <p>Shipping</p>
                <p>Cancellation</p>
                </ul>
            </div>
            <div class="col-md-4 col-6">
                <p class="foot-head py-2">EXPERIENCE OUR APP ON MOBILE</p>
                <p>
                    <a href="#"><img class="app img-fluid " style="max-width:140px;"
                            src="/stylesheets/imgs/apple_store.png"></a>
                    <a href=""><img class="app img-fluid " style="max-width:140px;"
                            src="/stylesheets/imgs/google-play.png"></a>
                </p>
                <p class="pt-2 foot-head py-2">KEEP IN TOUCH</p>
                <p class="smedia">
                    <a href="#"><img class="media-icons pr-1" src="/stylesheets/imgs/fb.png"></a>
                    <a href="#"><img class="media-icons pr-1" src="/stylesheets/imgs/twitter.png"></a>
                    <a href="#"><img class="media-icons pr-1" src="/stylesheets/imgs/yt.png"></a>
                    <a href="#"><img class="media-icons pr-1" src="/stylesheets/imgs/insta.png"></a>
                </p>

            </div>
            <div class="col-md-1 d-none d-md-block ">
                <p><img class="last-img py-3 pt-2" src="/stylesheets/imgs/original.png"></p>
                <p><img class="last-img py-3 pt-2" src="/stylesheets/imgs/30days.png"></p>
                <p><img class="last-img py-3 pt-2" src="/stylesheets/imgs/truck.png"></p>
            </div>
            <div class="col-md-3 d-none d-md-block">
                <p class="pt-2"><span class="last-text ">100% ORIGINAL</span> guarantee for all products</p>
                <p class="py-2 pt-2 py-lg-4"><span class="last-text ">Return within 30days</span> of receiving
                    your order
                </p>
                <p class="py-2 pt-2 py-lg-4"><span class="last-text ">Get free delivery</span> for every order
                    above Rs.799
                </p>
            </div>

        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/scripts/main.js"></script>
    <script type="text/javascript">
        var mySwiper = new Swiper('.swiper-container', {
            // Optional parameters
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },
            autoplay: {
                delay: 1500,
                disableOnInteraction: false,
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        })


        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll < 300) {
                $('.fixed-top').css('background', 'transparent');
            } else {
                $('.fixed-top').css('background', 'rgba(0, 0, 0, 0.4)');
            }
        });

    </script>
    </body>

    </html>