<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/project.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <title>Project</title>

</head>

<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Brand</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto px-3">
                        <li class="nav-item active home">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="dropdown pt-2 pl-lg-3">
                            <a href="#" class="dropdown-toggle shop " data-toggle="dropdown">Shop <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-4">
                                <div class="row">

                                    <div class="col-6 col-sm-4 col-md-3 ">
                                        <ul class="multi-column-dropdown">
                                            <li><a class="head" href="#">Indian &amp; Fusion Wear</a></li>
                                            <li><a href="/products/kurtas">Kurtas &amp; Suits</a></li>
                                            <li><a href="#">Ethnic Dresses</a></li>
                                            <li><a href="#">Sarees &amp; Blouses</a></li>
                                            <li><a href="/products/suits">Jackets and Suits</a></li>
                                            <li><a class="head" href="#">Belts, Scarves &amp; More</a></li>
                                            <li><a class="head" href="#">Watches &amp; Wearables</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3">
                                        <ul class="multi-column-dropdown">
                                            <li><a class="head" href="#">Western Wear</a></li>
                                            <li><a href="#">Tops, T-Shirts &amp; Shirts</a></li>
                                            <li><a href="/products/jeans">Jeans &amp; Jeggings</a></li>
                                            <li><a href="#">Shorts &amp; Skirts</a></li>
                                            <li><a href="#">Dresses &amp; Jumpsuits</a></li>
                                            <li><a class="head" href="#">Sunglasses &amp; Frames</a></li>

                                        </ul>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 d-none d-sm-block ">
                                        <ul class="multi-column-dropdown">
                                            <li><a class="head" href="#">Footwear</a></li>
                                            <li><a href="#">Flats</a></li>
                                            <li><a href="#">Casual Shoes</a></li>
                                            <li><a href="#">Heels</a></li>
                                            <li><a href="#">Sport Shoes &amp; Floaters</a></li>
                                            <li><a class="head" href="#">Sports &amp; Active Wear</a></li>
                                            <li><a href="#">Clothing</a></li>
                                            <li><a href="#">Footwear</a></li>
                                            <li><a href="#">Accessories</a></li>
                                            <li><a href="#">Equipment</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 d-none d-md-block">
                                        <ul class="multi-column-dropdown">
                                            <li><a class="head" href="#">Lingerie &amp; Sleepwear</a></li>
                                            <li><a href="#">Bras &amp; Lingerie</a></li>
                                            <li><a href="#">Swimwear</a></li>
                                            <li><a href="#">Sleepwear &amp; Loungewear</a></li>
                                            <li><a href="#">Shapewear</a></li>
                                            <li><a class="head" href="#">Beauty &amp; Personalization</a></li>
                                            <li><a href="#">Makeup</a></li>
                                            <li><a href="#">Skincare</a></li>
                                            <li><a href="#">Lipstick</a></li>
                                            <li><a href="#">Fragrances</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <form class="form-inline my-3 my-lg-0 px-2 py-2 order-sm-4 order-lg-1">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control mr-sm-2 " type="search" placeholder="Search"
                                    aria-label="Search">
                            </div>
                        </form>
                        <li class="nav-item dropdown active px-1 order-sm-1 order-lg-2">
                            <a class="nav-link pl-3 dropdown-toggle shop" href="#" data-toggle="dropdown"><i class="fas fa-user"></i></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Welcome user, if logged in</a></li>
                                <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                                    Login
                                  </button></li>
                                  <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">
                                    Signup
                                  </button></li>
                              </ul>
                        </li>

                        <li class="nav-item active px-1 order-sm-2 order-lg-3">
                            <a class="nav-link pl-3" href="#"><i class="fas fa-bookmark"></i></a>
                        </li>
                        <li class="nav-item cart px-1 order-sm-3 order-lg-4">
                            <a class="nav-link pl-1" href="#"><i class="fas fa-shopping-cart pl-2"></i> [0]</a>
                        </li>
                    </ul>

                </div>
            </div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login Modal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Signup Modal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>